.sisi1 {
    display: flex;
    height: 380px;
    padding-left:80px ;
    background: rgba(174, 129, 84, 0.07);
}
.kartu {
    width: 200px;
    height: 260px;
    background: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.34);
    border-radius: 3px;
    line-height: 110px;
    margin-left: 80px;
}
.kartu img {
    width: 200px;
    height: 170px;
}

.kartu button {
    color: white;
    width: 80px;
    height: 25px;
    background: #8A4704;
    border-radius: 2px;
    margin-left: 60px;
    margin-top: 13px;
    font-size: 9px; 
    border: none;
    outline: none;
    transition: .3s ease;
}

.kartu1 h1 {
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.kartu2 h1 {
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.kartu3 h1 {
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.kartu4 h1 {
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.geser1 {
    display: flex;
}
@media only screen and (max-width: 763px) {
    .geser1 {
        overflow-x: auto;
        padding-left: 0px;
        display: flex;
        height: 277px;
    }
    .geser1::-webkit-scrollbar{
        width: 0;
    }
    .sisi1 {
        padding-left: 0px;
        
    }
}
