/**## BOR= GARIS PC ##**/
/**## BER= BR PC ONLY##**/
/**## BORA= GARIS ANDROID ONLY##**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

:root{
    --main-color:#925818;
    --black:#555;
    --light-color:#777;
    --bg:#F3F0EC;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color:var(--black);
}

.heading span{
    color:var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding:0 1.5rem;
}

.btn{
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color:#fff;
    background:var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow:hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background:var(--black);
    z-index: -1;
    transition: .2s ease-out;
}

.btn:hover::before{
    left:0;
    width:100%;
}

html, body{
    width:100%;
    height:100%;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 6%;
}

.header.active {
    background-color: var(--main-color);
}
.header .logo{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bolder;
}

.header .navbar a{
    font-size: 1.7rem;
    color: white;
    margin-left: 3rem;
}

.header .navbar a:hover{
    color:black;
}

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: #fff;
    background: var(--main-color);
}
.bgcorak {
    background-image: url(../img/corakkiri.png);
    background-size: 34vh;
    background-position: 0vh 92vh;
    background-repeat: no-repeat;
}
.bgcorak2 {
    background-image: url(../img/corakkanan.png);
    background-size: 43vh;
    background-position: 215vh 189vh;
    background-repeat: no-repeat;
}
.bgcorak3 {
    background-image: url(../img/corakkiri.png);
    background-size: 34vh;
    background-position: 0vh 330vh;
    background-repeat: no-repeat;
}
.bgcorak4 {
    background-image: url(../img/corakkanan.png);
    background-size: 39vh;
    background-position: 225vh 400vh;
    background-repeat: no-repeat;
}
#coveratas {
    background-image: url(../img/megamendungcover.png);
    background-size: cover;
    height: 100%;
    background-color: #000000BD;
    background-blend-mode:soft-light;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.cover{
    color:  white;
    position: relative;
    width: 100%;
    height: auto;
}
.cover h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
}
.cover p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/**----------------------------SEJARAH--------------------------**/

#sejarah {
    height: auto;
    padding-top: 50px;
    background:rgba(174, 129, 84, 0.07);
}
.isisejarah {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    font-family: 'Nunito', sans-serif;
}
.sejarahatasan {
    display: none;
}
.sejarahkiri {
    width: 45%;
    padding: 70px 0px;
}
.sejarahkiri img {
    padding-left: 15%;
    width: 72%;
}
.sejarahkanan {
    width: 48%;
    padding: 55px 57px 0px 0px;
}
.sejarahkanan h1{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    color:#8A4704;
}
.sejarahkanan p{
    padding-right: 42px;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F4F4F;
}
.bora1 {
    display: none;
}
/**----------------MAKNA----------------**/

#makna {
    height: 70%;
    padding-top: 85px;
    background:rgba(174, 129, 84, 0.07);
}
.isimakna {
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'Nunito', sans-serif;
}
.maknaatasan {
    display: none;
}
.maknatengah {
    width: auto;
    text-align: center;
    padding: 35px 50px 0px 50px;
}
.maknatengah h1{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    color: #8A4704;
}
.maknatengah p{
    padding: 0px 239px;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F4F4F;
}
.bora1 {
    display: none;
}
.bora2 {
    display: none;
}
.bora4 {
    display: inherit;
    border-top: 4px solid #8A4704;
    margin: 0px 645px;
}
/**----------------------------JENIS--------------------------**/

#jenis {
    height: 100%;
    background:rgba(174, 129, 84, 0.07);
}
.isijenis {
    width: 100%;
    height: 100%;
    padding-top: 55px;
    position: relative;
    display: flex;
    font-family: 'Nunito', sans-serif;
}
.jenisatasan {
    display: none;
}
.jeniskiri {
    width: 45%;
}
.jeniskiri img {
    width: 70%;
    padding-left: 24%;
}
.jeniskanan {
    width: 45%;
    padding: 10px 0px 30px 75px;
}
.jeniskanan h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 20px;
    color:#8A4704;
}
.jeniskanan p{
    padding-right: 125px;
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    color: #4F4F4F;
}

.nomor {
    color:#8A4704;
    font-weight: bold;
}
@media (min-width: 481px) and (max-width: 768px) {
    
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        background:#fff;
        box-shadow: var(--box-shadow);
        border:var(--border);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    .header .navbar.active{        
        transform: scale(1);
        opacity: 1;
    }
    
    .header .navbar a{
        font-size: 2rem;
        display: block;
        color: black;
        padding:1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    .header .navbar a:hover{
        background: var(--bg);
    }

    .home .content{
        text-align: center;
    }
        .ber {
            display: none;
        }
        .bora1 {
            display: inherit;
            border-top: 4px solid #8A4704;
            width: 45%;
        }        
        .bora2 {
            display: inherit;
            border-top: 4px solid #8A4704;
            width: 18%;
        }
        .bora3 {
            display: inherit;
            border-top: 4px solid #8A4704;
            width: 23%;
        }

        .bgcorak2 {
            background-image: url(../img/corak2kiri.png);
            background-size: 43vh;
            background-position: 109vh 220vh;
            background-repeat: no-repeat;
        }
        .bgcorak3 {
            background-image: url(../img/corak2kiri.png);
            background-size: 40vh;
            background-position: -11vh 312vh;
            background-repeat: no-repeat;
        }
        .bgcorak4 {
            background-image: url(../img/corak2kiri.png);
            background-size: 45vh;
            background-position: 123vh 460vh;
            background-repeat: no-repeat;
        }
        /**------------------SEJARAH-----------------**/
        #sejarah {
            height: auto;
        }
        .sejarahatasan {
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
            justify-content: space-around;
        }
        .sejarahkanan h1 {
            display: none;
        }
        .isisejarah {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        .sejarahkiri {
            width: 100%;
            height: 100%;
        }
        .sejarahkiri img {
            width: 65%;
            padding-left: 135px;
            height: 100%;
        }
        .sejarahkanan {
            width: 100%;
            text-align: center;
            padding: 0px;
        }
        .sejarahkanan p {
            font-size: 18px;
            padding: 0px 92px;
            text-align: left;
        }
        .sejarahatasan h1{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 57px;
            color: #8A4704;
        }

        /**------------------JENIS-----------------**/
        #jenis {
            height: auto;
            padding-bottom: 20%;
        }
        .jenisatasan {
            flex-direction: column;
        align-items: center;
            display: inherit;
            padding: 0px 47px;
            padding-top: 15px;
        }
        .jenisatasan h1{
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 57px;
            color: #8A4704;
        }
        .jeniskanan h1 {
            display: none;
        }
        .isijenis {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        .jeniskiri {
            width: auto;
            height: 80%;
        }
        .jeniskiri img {
            width: 100%;
            padding: 0px 0px;
            padding-top: 35px;
            height: 100%;
        }
        .isijenis {
            height: auto;
        }
        .jeniskanan {
            width: 100%;
            padding-left: 75px;
            padding-top: 50px;
            padding-bottom: 25px;
        }
        .jeniskanan p {
            font-size: 20px;
            padding-right: 120px;
            padding-left: 35px;
        }
        .jenisatasan h1{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 57px;
            color: #8A4704;
        }
        /**----------------MAKNA----------------**/
        .maknaatasan {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .maknaatasan h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            line-height: 57px;
            color: #8A4704;
        }
        .maknatengah {
            padding: 35px 50px 0px 60px;
        }
        .maknatengah p{
            padding: 0px 54px;
            text-align: left;
            padding: 0px;
        }

        .maknatengah h1 {
            display: none;
        }
        /**----------------JENIS----------------**/
        .jeniskanan p {
            padding: 0px 125px;
        }
        
}

@media (max-width: 480px) {
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        background:#fff;
        box-shadow: var(--box-shadow);
        border:var(--border);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    .header .navbar.active{        
        transform: scale(1);
        opacity: 1;
    }
    
    .header .navbar a{
        font-size: 2rem;
        display: block;
        color: black;
        padding:1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    .header .navbar a:hover{
        background: var(--bg);
    }
    .ber {
        display: none;
    }
    .bora1 {
        display: inherit;
        border-top: 4px solid #8A4704;
        width: 45%
    }
    .bora2 {
        display: inherit;
        border-top: 4px solid #8A4704;
        width: 20%;
    }
    .bora3 {
        display: inherit;
        border-top: 4px solid #8A4704;
        width: 20%;
    }
    .bgcorak {
        background-image: url(../img/corak2kiri.png);
        background-size: 30vh;
        background-position: -10vh 100vh;
        background-repeat: no-repeat;
    }
    .bgcorak2 {
        background-image: url(../img/corak2kiri.png);
        background-size: 32vh;
        background-position: 70vh 189vh;
        background-repeat: no-repeat;
    }
    .bgcorak3 {
        background-image: url(../img/corak2kiri.png);
        background-size: 29vh;
        background-position: -10vh 269vh;
        background-repeat: no-repeat;
    }
    .bgcorak4 {
        background-image: url(../img/corak2kiri.png);
        background-size: 34vh;
        background-position: 72vh 401vh;
        background-repeat: no-repeat;
    }


    #coveratas {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .cover {
        text-align: center;
        padding: 0px;
        width: auto;
    }

    .cover h1 {
        font-size: 22px;
        padding: 0px 30px;
    }
    .cover p {
        display: inherit;
        font-size: 10px;
        padding: 0px 70px;
    }

    /**------------------SEJARAH-----------------**/
    #sejarah {
        height: auto;
        background-size: contain;
    }
    .sejarahatasan {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 47px;
        padding-top: 15px;
        justify-content: space-evenly;
    }
    .sejarahatasan h1{
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 57px;
        color: #8A4704;
    }
    .sejarahkanan h1 {
        display: none;
    }
    .isisejarah {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .sejarahkiri {
        width: 100%;
        padding-bottom: 0px;
    }
    .sejarahkanan {
        width: 100%;
        padding: 0px;
    }

    .sejarahkanan h1 {
        display: none;
    }
    .isisejarah {
        flex-wrap: wrap;
    }
    .sejarahkiri {
        width: 100%;
        padding: 20px 0px;
    }
    .sejarahkiri img{
        padding-left: 58px;
    }
    .sejarahkanan p {
        padding: 0px 30px;
        line-height: 27px;
        font-size: 13px;
    }

    /**--------------MAKNA--------**/
    #makna {
        width: 100%;
        height: auto;
    }
    .maknatengah p {
        padding: 0px 26px;
        font-size: 13px;
        width: auto;
        line-height: 27px;
        text-align: left;
    }
    .maknatengah h1 {
        display: none;
    }
    .maknatengah {
        padding: 0px;
    }
    .maknatengah {
        padding: 0px;
    }
    .maknaatasan {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        flex-direction: column;
        color: #8A4704;
        align-items: center;
    }
    .maknaatasan  h1{
        padding-top: 15px;
    }
    /**--------------JENIS--------**/

    #jenis {
        height: auto;
        padding-bottom: 20%;
    }
    .jenisatasan {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jenisatasan h1 {
        font-size: 26px;
        padding-top: 20px;
        color: #8A4704;
    }
    .isijenis {
        flex-direction: column;
        height: auto;
        padding-top: 15px;
    }
    .jeniskiri {
        width: 100%;
        padding: 20px 0px;
    }
    .jeniskiri img {
        width: 70%;
        padding-left: 15%;
    }
    .jeniskanan {
        width: 100%;
        padding: 0px;
    }
    .jeniskanan p {
        padding-left: 30px;
        padding-right: 10px;
        font-size: 14px;
        line-height: 30px;
    }
    .jeniskanan h1 {
        display: none;
    }
    span {
        padding-right: 10px;
    }
}