/** Navbar2 **/
* {
    margin: 0px;
    padding: 0px;
}
.nav2 {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    display:flex;
    position: fixed;
    z-index: 10;
    background-color: white;
} 

.nav2 ul {
    padding: 10px 20px;
    list-style: none;
    position: relative;
    width: 100%;
}
.nav2 li {
    padding-right: 10px;
}


.nav2 ul li a{
    display: block;
    float:left;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav2 img {
    width: 55px;
    padding-left: 70px;
}
.navs {
    margin:auto;
    padding-left: 400px;
    font-family: 'Nunito', sans-serif;
}

/** ENDNavbar2 **/