* {
    margin: 0px;
    padding: 0px;
}
#nav {
    width: 100%;
    background-color: blue;
    display: flex;
    font-family: 'Nunito', sans-serif;
    z-index: 10;
    position: fixed;
}
.navs {
    display: flex;
}