/**## BOR= GARIS PC ##**/
/**## BER= BR PC ONLY##**/
/**## BORA= GARIS ANDROID ONLY##**/
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
/* .br {
    background:rgba(174, 129, 84, 0.07);
} */
.bgcorak {
    background-image: url(../img/corakkiri.png);
    background-size: 34vh;
    background-position: 0vh 92vh;
    background-repeat: no-repeat;
}
.bgcorak2 {
    background-image: url(../img/corakkanan.png);
    background-size: 43vh;
    background-position: 215vh 163vh;
    background-repeat: no-repeat;
}
.bgcorak3 {
    background-image: url(../img/corakkiri.png);
    background-size: 34vh;
    background-position: 0vh 72vh;
    background-repeat: no-repeat;
}
.bgcorak4 {
    background-image: url(../img/corakkanan.png);
    background-size: 45vh;
    background-position: 211vh 153vh;
    background-repeat: no-repeat;
}
#coveratas {
    background-image: url(../img/tujuhrupacover.png);
    background-size: cover;
    height: 100%;
    background-color: #000000BD;
    background-blend-mode:soft-light;
    text-align: center;
}
.cover{
    padding: 155px 0px 0px 0px;
    color:  white;
    position: relative;
    width: 100%;
    height: auto;
}
.cover h1 {
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
}
.cover p {
    font-family: 'Roboto', sans-serif;
}

/**----------------------------SEJARAH--------------------------**/

#sejarah {
    height: auto;
    padding-top: 50px;
    background:rgba(174, 129, 84, 0.07);
}
.isisejarah {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    font-family: 'Nunito', sans-serif;
}
.sejarahatasan {
    display: none;
}
.sejarahkiri {
    width: 45%;
    padding: 70px 0px;
}
.sejarahkiri img {
    padding-left: 15%;
    width: 72%;
}
.sejarahkanan {
    width: 48%;
    padding: 55px 57px 0px 0px;
}
.sejarahkanan h1{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    color: #925818;
}
.sejarahkanan p{
    padding-right: 105px;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4F4F4F;
}
.bora1 {
    display: none;
}
/**----------------MAKNA----------------**/

#makna {
    height: 100%;
    padding-top: 85px;
    background:rgba(174, 129, 84, 0.07);
}
.isimakna {
    width: 100%;
    height: auto;
    position: relative;
    font-family: 'Nunito', sans-serif;
}
.maknaatasan {
    display: none;
}
.maknatengah {
    width: 100%;
    text-align: center;
    padding: 35px 0px 0px 0px;
}
.maknatengah h1{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    color: #925818;
}
.maknatengah p{
    padding: 0px 286px;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
}
.bora1 {
    display: none;
}
.bora2 {
    display: none;
}
/* .bora3 {
    display: inherit;
    border-top: 4px solid #925818;
    margin: 0px 645px;
} */
/**----------------------------JENIS--------------------------**/

#jenis {
    height: 100%;
    background:rgba(174, 129, 84, 0.07);
}
.isijenis {
    width: 100%;
    height: 100%;
    padding-top: 55px;
    position: relative;
    display: flex;
    font-family: 'Nunito', sans-serif;
}
.jenisatasan {
    display: none;
}
.jeniskiri {
    width: 45%;
}
.jeniskiri img {
    width: 70%;
    padding-left: 24%;
}
.jeniskanan {
    width: 45%;
    padding: 10px 0px 30px 25px;
}
.jeniskanan h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 20px;
    color: #925818;
}
.jeniskanan p{
    padding-right: 125px;
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    color: #4F4F4F;
}

.nomor {
    color: #925818;
    font-weight: bold;
}
@media (min-width: 481px) and (max-width: 768px) {

        .bora1 {
            display: inherit;
            border-top: 4px solid #925818;
            width: 45%;
        }        
        .bora2 {
            display: inherit;
            border-top: 4px solid #925818;
            width: 45%;
        }

        .bgcorak2 {
            background-image: url(../img/corakkanan.png);
            background-size: 43vh;
            background-position: 130vh 223vh;
            background-repeat: no-repeat;
        }

        .bgcorak4 {
            background-image: url(../img/corak2kiri.png);
            background-size: 63vh;
            background-position: 111vh 99vh;
            background-repeat: no-repeat;
        }
        /**------------------SEJARAH-----------------**/
        #sejarah {
            height: auto;
        }
        .sejarahatasan {
            display: flex;
            flex-wrap: wrap;
            padding-top: 15px;
            justify-content: space-around;
        }
        .sejarahkanan h1 {
            display: none;
        }
        .isisejarah {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        .sejarahkiri {
            width: 100%;
            height: 100%;
        }
        .sejarahkiri img {
            width: 65%;
            padding-left: 135px;
            height: 112%;
        }
        .sejarahkanan {
            width: 100%;
            text-align: center;
            padding: 0px;
        }
        .sejarahkanan p {
            font-size: 18px;
            padding: 0px 92px;
        }
        .sejarahatasan h1{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 57px;
            color: #925818;
        }

        /**------------------JENIS-----------------**/
        #jenis {
            height: auto;
        }
        .jenisatasan {
            display: inherit;
            padding: 0px 47px;
            padding-top: 15px;
        }
        .jenisatasan h1{
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 57px;
            color: #925818;
        }
        .jeniskanan h1 {
            display: none;
        }
        .isijenis {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        .jeniskiri {
            width: 100%;
        }
        .jeniskiri img {
            width: 80%;
            padding-left: 75px;
            height: 112%;
        }
        .jeniskanan {
            width: 100%;
            padding-left: 75px;
            padding-top: 50px;
            padding-bottom: 25px;
        }
        .jeniskanan p {
            font-size: 20px;
            padding-right: 120px;
            padding-left: 35px;
        }
        .jenisatasan h1{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 57px;
            color: #925818;
        }
        /**----------------MAKNA----------------**/
        .maknatengah p{
            padding: 0px 20px;
            padding: 0px 88px;
        }
        /**----------------JENIS----------------**/
        .jeniskanan p {
            padding: 0px 125px;
        }
}

@media (max-width: 480px) {
    .cover {
        padding: 135px 0px 0px 21px;
        text-align: center;
        width: auto;
    }
    .cover h1 {
        font-size: 22px;
        padding: 0px 30px;
    }
    .cover p {
        display: inherit;
        font-size: 10px;
        padding: 0px 70px;
    }

    /**------------------SEJARAH-----------------**/
    #sejarah {
        height: auto;
        background-size: contain;
    }
    .sejarahatasan {
        display: inherit;
        padding: 0px 47px;
        padding-top: 15px;
        display: inherit;
    }
    .sejarahatasan h1{
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 57px;
        color: #925818;
    }
    .sejarahkanan h1 {
        display: none;
    }
    .isisejarah {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .sejarahkiri {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .sejarahkanan {
        width: 100%;
        padding-top: 50px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 25px;
    }

    .sejarahkanan h1 {
        display: none;
    }
    .isisejarah {
        flex-wrap: wrap;
    }
    .sejarahkiri {
        width: 100%;
    }
    .sejarahkiri img{
        padding-left: 58px;
    }
    .sejarahkanan {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .sejarahkanan p {
        padding: 0px;
        font-size: 11px;
    }

    /**--------------MAKNA--------**/
    #makna {
        width: 100%;
        height: auto;
    }
    .maknatengah p {
        padding:  0px 30px;
        font-size: 11px;
    }
    .maknatengah h1 {
        display: none;
    }

    #jenis {
        height: auto;
    }
    .jenisatasan {
        display: inherit;
        justify-content: center;
    }
    .jenisatasan h1 {
        font-size: 26px;
        color: #925818;
    }
    .isijenis {
        flex-direction: column;
        height: auto;
    }
    .jeniskiri {
        width: 100%;
    }
    .jeniskiri img {
        padding: 0px 63px;
    }
    .jeniskanan {
        width: 100%;
        padding: 0px;
    }
    .jeniskanan p {
        padding: 0px 70px;
        font-size: 13px;
    }
    .jeniskanan h1 {
        display: none;
    }
}